<!DOCTYPE html>
<html>
<head>
    <title>Wildfire Detection</title>
   

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Upload an Image to Detect Wildfire</h1>
    <form action="/predict" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <button type="submit">Predict</button>
    </form>

    {% if result %}
        <h2>Prediction: {{ result }}</h2>
        <img src="{{ user_image }}" alt="Uploaded Image">
    {% endif %}
</body>
</html>
